.footer__social{
    justify-content: space-around;
    align-items: center;
}
.footer__social ul li{
    box-sizing: border-box;
    list-style-type: none;
    height: 60px;
    display: inline-block;

}
.footer__social ul{
    padding-left: 0;
}
.footer__social ul li a{
    position: relative;
    width: 150px;
    display: inline-block;
    height: 100%;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000;
    line-height: 50px;
    z-index: 0;
    font-size: 16px;
    border-right:none ;
    vertical-align: baseline;
}
.footer__social ul li a i{
    font-size: 22px;
}
.footer__social li a:last-child{
    border-right: 1px solid #000;
}
.footer__social li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f00;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.footer__social li:hover a::before{
    transform: scaleX(1);
    transform-origin: left;
}
.footer__social li:nth-child(1) a::before{
    background: 	#365899;
}
.footer__social li:nth-child(2) a::before{
    background: 	#10dffd;
}
.footer__social li:nth-child(3) a::before{
    background: 	#ea4335;
}
.footer__social li:nth-child(4) a::before{
    background: #515bd4	;
}

.footer__social li:nth-child(5) a::before{
    background: 	#f58529;
}